<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.epicintentionsConnectionString"
            connectionString="server=localhost;user id=root;password=103Gordito03;database=epicintentions"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="server=localhost;user id=root;password=103Gordito03;persistsecurityinfo=True;database=epicintentions"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>